<h3><%= @post.title %></h3><br>
<%= @post.body %><br>
<%= link_to @post.user.profile.uname, {:controller => "profiles", :action => "show", :user_id => @post.user } %><br>
<%= link_to "Back Home", root_path %>