<div class="sub_header">
    <%= link_to "Back", [@user, @post], :class => "right buttons" %>
    
</div>
<div class="left_padding">
	<div class="logged_posts_wrapper">
	  <%= render 'form'%>
	</div>
</div>
      