<div class="sub_header">
    <%= link_to "Home", current_user, :class => "right buttons" %><br>
</div>
<div class="left_padding">
	<div class="logged_posts_wrapper">
	  <%= render 'form'%>
	</div>
</div>
      